.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-bottom: 16px;
  border: 1px solid #F48FB1;
  transition: .2s ease-out background-color;
  cursor: pointer;
}

.wrapper:hover {
  background: #F48FB1;
  color: #fff;
}

.img {
  flex: 0 1 60%;
  margin-bottom: 16px;
}

.textContent {
  padding: 0 16px;
  color: inherit;
}

.title {
  margin-bottom: 16px;
}

.title, .text {
  color: inherit;
  transition: 0.2s ease-out color;
}
